<!-- Game Name Filter -->
<div class="bnn-search mt-4">
    <form [formGroup]="searchForm" (ngSubmit)="gotoGamesAndFilterByText(searchForm)">
        <div class="bnn-search-field">
        <input matInput type="text" placeholder="Search game" formControlName="searchText">
        <button class="bnn-search-clean-btn" *ngIf="searchForm.value.searchText" mat-button type="button"
            matSuffix mat-icon-button aria-label="Clean search textbox"
            (click)="searchForm.controls['searchText'].setValue('');">
            <mat-icon>close</mat-icon>
        </button>
        </div>
        <button type="submit" class="bnn-table-search-btn" mat-icon-button>
        <mat-icon aria-label="Search in the list">search</mat-icon>
        </button>
    </form>
</div>