// Vars
// --------------------------

// Fonts
$fontSizeBase: 16px;

// Theme Colors
$themeColor: #96b731;
$themeAltColor: #e7620c;
$themeNeutralColor: #bbb;

// Text
$textColor: #5a5a5a;
$linksColor: #487f00;
$linksOverColor: #007bff;