// Vars
// --------------------------

// Fonts
$fontSizeBase: 16px;

// Theme Colors
$themeColor: #b5b731;
$themeBlueColor: #8cb2df;
$themeNeutralColor: #bbb;

// Text
$textColor: #5a5a5a;
$linksColor: #b5b731;
$linksOverColor: #007bff;