$btnHeight: 26px;

.bnn-btn,
.mat-button.bnn-btn {
    border-radius: 5px;
    font-weight: normal;
    min-height: $btnHeight;
    line-height: 40px;
    font-size: 16px;
    text-decoration: none;
    // Big buttons
    &--update {
        position: relative;
        min-width: 0;
        padding-right: 34px;
        background-color: $themeColor;
        color: #fff;
        line-height: $btnHeight;
        &:after {
            position: absolute;
            top: 0px;
            right: 10px;
            font-family: "Material Icons";
            content: "autorenew";
            font-size: 20px;
        }
    }
}