// Vars
// --------------------------

// Fonts
$fontSizeBase: 16px;

// Theme Colors
$themeColor: #eed133;
$themeBlueColor: #6698bd;
$themeNeutralColor: #bbb;

// Text
$textColor: #5a5a5a;
$linksColor: #6698bd;
$linksOverColor: #007bff;