.bnn-main {
    padding-top: 140px;
    padding-bottom: 40px;
}
.bnn-main-section {

}
.bnn-main-section-header {
    margin-bottom: 50px;
}
.bnn-main-section-header-title {
    color: $themeColor;
    font-size: 2rem;
    font-weight: 400;
}