.bnn-popgames-list {

}
.bnn-popgames-list-item {
    margin-bottom: 30px;
}
.bnn-game-thumbnail {

}
.bnn-game {
    position: relative;
    &--square {
        min-height: 50px;
    }
}
.bnn-game-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 6px 10px;
    background-color: $themeBlueColor;
}
.bnn-game-info-name {
    color: #fff;
}
.bnn-game-details-description {
    color: #333;
}
.bnn-game-details-lbl {
    font-weight: bold;
}
.bnn-game-details-iframe {
    width: 100%;
    height: 400px;
}
.bnn-categories-filter-item {
    padding: 5px;
    background-color: #dedede;
    cursor: pointer;
    & + .bnn-categories-filter-item {
        margin-top: 5px;
    }
}