// Bootstrap css
@import '~bootstrap/scss/bootstrap';

// Configs
@import "bnn-styles-conf-vars.scss";
@import "bnn-styles-conf-functions.scss";

// Sections
@import "bnn-styles-header.scss";
@import "bnn-styles-main-content.scss";
@import "bnn-styles-footer.scss";
@import "bnn-styles-loader.scss";
@import "bnn-styles-sections.scss";

// Buttons
@import "bnn-styles-buttons.scss";

// Icons
@import "bnn-styles-icons.scss";



// General custom elements
// --------------------------
html {
    height: 100%;
    position: relative;
}
body {
    font-size: $fontSizeBase;//16px
    //font-size: 1rem;
}
a,
.bnn-link {
    color: $linksColor;
    &:hover {
        color: $linksOverColor;
        cursor: pointer;
    }
}
.bnn-img {
  &--resp {
    width: 100%;
    height: auto;
  }
  &--fixed-centered {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
  }
  &--shrink {
    width: 60%;
    @media (max-width: 1199px) {
      width: 70%;
    }
    @media (max-width: 767px) {
      width: 85%;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
  }
  &--shrink-more {
    width: 40%;
    @media (max-width: 1199px) {
      width: 40%;
    }
    @media (max-width: 767px) {
      width: 40%;
    }
    @media (max-width: 575px) {
      width: 40%;
    }
  }
  &--centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.bnn-list {
    @include resetList();
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
textarea:focus,
input:focus,
button:focus {
    outline: none;
}

@media (min-width: 1200px) {
    .container {
        width: 1144px;
    }
}