<div class="bnn-main-section">

  <!-- Main Section - Header -->
  <header class="bnn-main-section-header">
    <div class="container">
      <h1 class="bnn-main-section-header-title">Welcome to Crazy Bananas Casino</h1>
    </div>
  </header>

  <!-- Main Section - Content -->
  <div class="bnn-main-section-content">
    <div class="container">

      <!-- Popular Games Section -->
      <app-section-games-popular></app-section-games-popular>

      <!-- Top Games Section -->
      <app-section-games-top></app-section-games-top>
    </div>
  </div>

</div>